<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EstradCaptcha1</servlet-name>
        <servlet-class>Captcha.EstradCaptcha1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>login.user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_discussion</servlet-name>
        <servlet-class>admin.admin_discussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_subject</servlet-name>
        <servlet-class>admin.admin_subject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connectivity</servlet-name>
        <servlet-class>connectivity.connectivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>user.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>login.admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_news</servlet-name>
        <servlet-class>admin.admin_news</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_discussion</servlet-name>
        <servlet-class>user.user_discussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>login.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_subject</servlet-name>
        <servlet-class>user.user_subject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usereditprofile_code</servlet-name>
        <servlet-class>user.usereditprofile_code</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstradCaptcha1</servlet-name>
        <url-pattern>/dhruv.jpg1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_discussion</servlet-name>
        <url-pattern>/admin_discussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_subject</servlet-name>
        <url-pattern>/admin_subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connectivity</servlet-name>
        <url-pattern>/connectivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_news</servlet-name>
        <url-pattern>/admin_news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_discussion</servlet-name>
        <url-pattern>/user_discussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_subject</servlet-name>
        <url-pattern>/user_subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usereditprofile_code</servlet-name>
        <url-pattern>/usereditprofile_code</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
